VITE_API_BASE_URL=
VITE_KAKAO_CLIENT_ID=your-kakao-client-id
VITE_KAKAO_AUTH_URI=https://kauth.kakao.com/oauth/authorize
VITE_KAKAO_REDIRECT_URI=http://localhost:5173/auth/kakao/callback

# Optional
VITE_PORTONE_PG=html5_inicis
